$btn--blue: #616ae8;
$btn--green: #20e5a7;
$background--page: #f2f2f2;
$pink: #fbe9e9;
$green: #e7faf9;
$purple: #f5ecfd;
$blue: #e7effb;
$color_text-button: #ffffff;
$color_text: #7e7fa0;
$color_text-title: #2e2a41;

// ------------sectionTop------------
.section__top {
  max-width: 1309px;
  width: 100%;
  margin: 0 auto;
}
.tickets {
  .ticket {
    position: relative;
    .ticket__cycle {
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      width: 105px;
      height: 105px;
      top: -40px;
      left: -25px;
    }

    .ticket__title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $color_text-title;
    }
    .ticket__desc {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      color: $color_text;
      padding-top: 35px;
    }
  }
}
.ticket--bg-pink {
  background-color: #fbe9e9;
}
.ticket--bg-purple {
  background-color: #f5ecfd;
}
.ticket--bg-green {
  background-color: #e7faf9;
}
.ticket--bg-blue {
  background-color: #e7effb;
}

//min 1200
@media (min-width: 1200px) {
  .cards .card__item .cycle--bg {
    width: 105px;
    height: 105px;
    top: -40px;
    left: -45px;
  }
}

//min 992
@media (min-width: 992px) and (max-width: 1199px) {
  .cards .card__item .cycle--bg {
    width: 85px;
    height: 85px;
    top: -30px;
    left: -25px;
  }
}

@media (max-width: 991px) {
  .cards .card__item {
    padding-bottom: 50px;
  }
  .tickets .ticket .ticket__desc {
    padding-top: 50px;
  }
  .tickets .ticket {
    padding-bottom: 50px;
  }
}
